<section class="pt-5">
    <div class="fotter">
        <div class="container ">
            <div class="lg-sl">
                <img class="logo py-5" src="./assets/images/logo.png">
                <ul>
                    <li><i class="fab fa-facebook-square" ></i></li>
                    <li><i class="fab fa-twitter" aria-hidden="true"></i></li>
                    <li><i class="fab fa-linkedin" aria-hidden="true"></i></li>
                    <li><i class="fab fa-instagram" aria-hidden="true"></i></li>
                    <li><i class="fab fa-pinterest-p" aria-hidden="true"></i></li>
                    </ul>
            </div>
            <div class="top-fotter">
                <span>Copyright © 2019 Lazord.</span>
            </div>
        </div>
    </div>
</section>