.portfolio{
    background-color: #F5F5F5;
    
}
.portfolio  h2{
    letter-spacing: 1.5px;
}
.portfolio  p{
    line-height: 25px;
    color: #939393;
}
.portfolio  button{
    margin-top: 20spx;
    background-color: #fff;
    padding: 6px 15px;
    border-radius: 10px;
    border: 1px solid #eee;
    border: none;
    color: #212121;
    cursor: pointer;
    letter-spacing: 0.5;
    margin-left: 5px;
}
.portfolio  button:hover
{
    background-color: #7CB342;
}
.portfolio .btn-1
{
    background-color: #7CB342;
}