<section class="portfolio  text-center">
    <div class="container">
        <h1 class="py-5"> Portfolio</h1>
        <p>Lorem ipsum dolor sit amet elit sed do eiusmod tempor labore dolore<br>magna aliqua enim minim veniam quis nostrud nisi laboris</p>
                <button class="btn-1">All</button>
                <button>Brand</button>
                <button>Graphic</button>
                <button>Web</button>
            <div class="row">
                <div class="col-md-4">
                    <div class=" py-5 m-3 me-hobbis">
                      <img class="img-fluid" src="./assets/images/1.jpg">
                       </div>
                </div>
                <div class="col-md-4">
                    <div class=" py-5 m-3 me-hobbis">
                        <img class="img-fluid" src="./assets/images/2.jpg">
                       </div>
                </div>
              <div class="col-md-4">
                  <div class=" py-5 m-3 me-hobbis">
                      <img class="img-fluid" src="./assets/images/3.jpg">
                      </div>
              </div>
              <div class="col-md-4">
                  <div class=" py-5 m-3 me-hobbis">
                      <img class="img-fluid" src="./assets/images/4.jpg">
                       </div>
              </div>
              
              <div class="col-md-4">
                  <div class=" py-5 m-3 me-hobbis">
                      <img class="img-fluid" src="./assets/images/5.jpg">
                     </div>
              </div>
              <div class="col-md-4">
                  <div class=" py-5 m-3 me-hobbis">
                      <img class="img-fluid" src="./assets/images/6.jpg">
                        </div>
              </div>
            </div>
    </div>
    
  </section>