<section class="text-center m-auto py-5 contact">
    <div class="container">
        <h2>Get In Touch</h2>
        <p>Lorem ipsum dolor sit amet elit sed do eiusmod tempor labore dolore<br>
          magna aliqua enim minim veniam quis nostrud nisi laboris</p>
          <form>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <input type="text" class="form-control" id="inputEmail4" placeholder="Name *">
                </div>
                <div class="form-group col-md-6">
                  <input type="email" class="form-control" id="inputPassword4" placeholder="email *">
                </div>
              </div>
              <div class="form-group">
                  <input type="text" class="form-control" id="inputAddress" placeholder="Subject">
                </div>
              <div class="form-group">
                <textarea rows="6"  type="text" class="form-control" id="inputAddress" placeholder="Message"></textarea>
              </div>
              
             
              
              <button type="submit" class="btn btn-success">Send Message</button>
            </form>
    </div>
</section>
<section class=" py-5">
  <div class="container text-center">
    <div class="row address">
            <div class="my-add one col-md-4">
                <span class="py-3"><i class="fa fa-mobile" aria-hidden="true"></i></span>
                <h2 class="py-3">PHONE</h2>
                <p>+967 (770) 588 112</p>
            </div>
            
            
            <div class="my-add col-md-4">
                <span class="py-3" ><i class="fa fa-map" aria-hidden="true"></i></span>
                <h2 class="py-3">ADDRESS</h2>
                <p>X Street, San Francisco, USA</p>
            </div>
            
            
            <div class="my-add col-md-4">
                <span class="py-3"><i class="fas fa-envelope" aria-hidden="true"></i></span>
                <h2 class="py-3">EMAIL</h2>
                <p>Support@Lazord.com</p>
            </div>
        </div>
    </div>
 
</section>