.nnn
{
    background-color: rgba(33,33,33,.8) !important;
    margin-bottom: 50px;

}
.navbar
{
    background-color: rgba(33,33,33,.8) !important;
}
.navbar img
{
    width: 150px;
    height: 40px;
}
.navbar ul li a
{
    color: #ffffff;
}
.navbar ul li .active
{
    color: #7cb342;
}
.navbar ul li a:hover
{
    color: #7cb342;
}