<section class="head mt-5" style="background: url(./assets/bg.jpg); background-attachment: fixed;
background-size: 100% 100%;">
  <div class="text-center headbg">
      <div class="py-5  ">
            <img class="mt-5" src="./assets/images/me.jpg">
            <h1>HI! I'M JOHN DOE</h1>
            <p>Full Stack Web Developer</p>
            <ul class="py-5">
                <li><i class="fab fa-facebook-square" ></i></li>
                <li><i class="fab fa-twitter" aria-hidden="true"></i></li>
                <li><i class="fab fa-linkedin" aria-hidden="true"></i></li>
                <li><i class="fab fa-instagram" aria-hidden="true"></i></li>
                <li><i class="fab fa-pinterest-p" aria-hidden="true"></i></li>
            </ul>
      </div>
     
  </div>
</section>